TELEGRAM_TOKEN=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_FALLBACK_MODELS=gemini-2.5-flash-lite
ALLOWED_USER_IDS=
ADMIN_USER_ID=
HITSYSTEMS_URL=https://hitsystems.cloud/Entrada/dialogo.asp?loga=usuario&emp=Iterum&img=Iterum
HITSYSTEMS_USER=
HITSYSTEMS_PASS=
HEADLESS=True
SHOP_CODE=
